{% extends 'base.html.twig' %}

{% block title %}Change Password{% endblock %}

{% block body %}
    <h1>Change Password</h1>

    {{ include('@BisonLabUser/user/_form.html.twig', {'button_label': 'Change'}) }}
{% endblock %}
