{% extends 'base.html.twig' %}

{% block title %}Change Password for {{ user }}{% endblock %}

{% block body %}
    <h1>Change Password for {{ user }}</h1>
<p>Use with caution. Better let the users change the passwords themselves than using this function. But some users might be systems not able to do that, which is why the opportunity is here.</p>

    {{ include('@BisonLabUser/user/_form.html.twig', {'button_label': 'Change'}) }}
{% endblock %}
