{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <h1>Edit User</h1>

    {{ include('@BisonLabUser/user/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('bisonlab_user_index') }}" class="btn btn-light">Back to list</a>

    {{ include('@BisonLabUser/user/_delete_form.html.twig') }}
{% endblock %}
