{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <h1>Create new User</h1>

    {{ include('@BisonLabUser/user/_form.html.twig') }}

    <a href="{{ path('bisonlab_user_index') }}" class="btn btn-light">Back to list</a>
{% endblock %}
